body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#intro-text {
    text-align: center;
    font-size: 1.1em;
    color: #555;
    margin-bottom: 40px;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#filter-container {
    background-color: white;
    border-radius: 8px 8px 0 0;
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filter-container select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9em;
}

#current-filters {
    display: flex;
    gap: 10px;
    margin-left: 15px;
    align-items: center;
}

.filter-tag {
    background-color: #e0e0e0;
    padding: 3px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.filter-tag button {
    background: none;
    border: none;
    color: #666;
    margin-left: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

#filter-container select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9em;
}

#table-container {
    background-color: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.9em;
}

table th, table td {
    padding: 6px 10px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:hover {
    background-color: #f1f3f5;
    transition: background-color 0.3s ease;
}

.pokemon-image {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}

/* Specific column width adjustments */
th:nth-child(1), td:nth-child(1) { width: 8%; } /* Pokemon Rank */
th:nth-child(2), td:nth-child(2) { width: 8%; } /* Pokemon ID */
th:nth-child(3), td:nth-child(3) { width: 15%; } /* Pokemon Name */
th:nth-child(4), td:nth-child(4) { width: 10%; } /* Type 1 */
th:nth-child(5), td:nth-child(5) { width: 10%; } /* Type 2 */
th:nth-child(6), td:nth-child(6) { width: 10%; } /* Greatness */
th:nth-child(7), td:nth-child(7) { width: 7%; }  /* Gen */
th:nth-child(8), td:nth-child(8) { width: 7%; }  /* Longevity */
th:nth-child(9), td:nth-child(9) { width: 8%; }  /* World Wins */
th:nth-child(10), td:nth-child(10) { width: 8%; }  /* International Wins */
th:nth-child(11), td:nth-child(11) { width: 8%; } /* National Wins */
th:nth-child(12), td:nth-child(12) { width: 8%; } /* Regional Wins */
th:nth-child(13), td:nth-child(13) { width: 8%; } /* Other Wins */
th:nth-child(14), td:nth-child(14) { width: 10%; } /* Sprite */

@media(width: 768px) {
    th:nth-child(1), td:nth-child(1) { width: 8%; } /* Pokemon Rank */
    th:nth-child(2), td:nth-child(2) { width: 4%; } /* Pokemon ID */
    th:nth-child(3), td:nth-child(3) { width: 15%; } /* Pokemon Name */
    th:nth-child(4), td:nth-child(4) { width: 8%; } /* Type 1 */
    th:nth-child(5), td:nth-child(5) { width: 8%; } /* Type 2 */
    th:nth-child(6), td:nth-child(6) { width: 8%; } /* Greatness */
    th:nth-child(7), td:nth-child(7) { width: 5%; }  /* Gen */
    th:nth-child(9), td:nth-child(9) { width: 8%; }  /* World Wins */
    th:nth-child(14), td:nth-child(14) { width: 8%; } /* Sprite */

    th:nth-child(8), td:nth-child(8),
    th:nth-child(10), td:nth-child(10),
    th:nth-child(11), td:nth-child(11),
    th:nth-child(12), td:nth-child(12),
    th:nth-child(13), td:nth-child(13) {
        display: none;
    }
}

#explanation-text {
    text-align: center;
    font-size: 0.95em;
    color: #666;
    margin-top: 30px;
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}